@use "../util" as u;

//placeholder
%widget {
  padding: u.remConverter(16);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: u.remConverter(40);
  font-size: 2rem;
  // max-width: 1000px;
  //  100% for mobile 1000px for bigger devices, 40px is additional padding for mobile 20px for each side
  width: min(calc(100% - u.remConverter(40)), u.remConverter(1000));
  margin-inline: auto;

  &__main,
  &__sidebar {
    padding: u.remConverter(40);
  }

  // was @media (min-width: 900px) {

  @include u.breakpoint(lg) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main {
    background-color: rgb(94, 58, 94);
  }

  &__sidebar {
    @include u.breakpoint-down(md) {
      text-align: center;
    }

    @include u.breakpoint-down(sm) {
      text-align: right;
    }
  }
  &__widget {
    //parent element selector
    // $widget: &;
    background-color: rgb(50, 50, 77);

    &--red {
      @extend %widget;
      background-color: rgb(97, 32, 32);
    }

    &--green {
      //now we dont have to write all class name, extend will take values from &_widget
      //load a value of a variable in sass selector name
      // @extend #{$widget};
      // @extend .grid_widget;
      @extend %widget;
      background-color: rgb(17, 80, 17);
    }
  }
}
